.card{
    max-width: 462px;
    margin: auto;
    height: 262px;
    border-top: 20px solid #ef4847!important;
    border-radius: .50rem;
}
.contacts{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.contacts a{
    padding: 5px;
}