<div class="card">
    <div class="row">
        <div class="col-lg-4 ">
            <img src="/assets/img/avatar.png">
         </div>
         <div class="col-lg-8 ">
            {{contacts[index].userName}}<br>
            {{contacts[index].phone}}
         </div>
    </div>
    <div class="row contacts">
        <a><img src="/assets/icons/skype.png"></a>
        <a><img src="/assets/icons/phone.png"></a>
        <a><img src="/assets/icons/mail.png"></a>
    </div>
</div>
