<div class="card">
    <div class="search">
        <input class="searchform" type="text">
    </div>
    <div class="searchalphabet">
    <ul class="searchalphabet">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>
        <li>I</li>
        <li>J</li>
        <li>K</li>
        <li>L</li>
        <li>M</li>
        <li>N</li>
        <li>O</li>
        <li>P</li>
        <li>Q</li>
        <li>R</li>
        <li>S</li>
        <li>T</li>
        <li>U</li>
        <li>V</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
    </ul>
    </div>
    <div  class="row list" > 
        <div   class="col-lg-4" *ngFor="let contact of contacts; let i=index" >
           
            <div class="smallCard" (click)="show(i)">
                    <div class="row">
                         <div class="col-lg-4 ">
                            <img src="/assets/img/avatar.png">
                         </div>
                         <div class="col-lg-8 ">
                            {{contact.userName}}<br>
                            {{contact.phone}}
                         </div>
                    </div>
                </div>
           
        </div>
    </div>
</div>
