.card{
    max-width: 895px;
    margin: auto;
    border-top: 24px solid #ef4847!important;
    border-radius: .50rem;
    margin-bottom: 30px;
}
.search{
    max-width: 500px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.searchform{
   width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.searchalphabet{
    margin-left: auto;
    margin-right: auto;
}
.searchalphabet ul{
    color:#ef4847;
    list-style-type:none;
    list-style-type: none;
    padding-right: 40px;
}
li {
    margin-left:10px;
    float:left; /*pour IE*/
    }
   ul li a{
    display:block;
    float:left;   
    width:100px;
    background-color:#6495ED;
    color:black;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color:#DCDCDC #696969 #696969 #DCDCDC;
    }

    .smallCard{
        max-width: 230px;
        min-width: 180px;
        height: 104px;
        margin: auto;
        border: 2px solid #e9e9e9;
        margin-bottom: 10px;
        box-shadow: 0px 1px 9.9px 0.1px rgba(187, 185, 185, 0.27);
    }
    
    .list{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }