/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('src/assets/fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('src/assets/fonts/brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('src/assets/fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('src/assets/fonts/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body { height: 100%; }
body {
background-image: url('src/assets/img/background.jpg');
background-size: cover;
font-family: 'brandon_grotesque_regularRg' !important;

}
.title{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #b4bbc2 !important;
    text-align: center;
    font-family: 'brandon_grotesquebold' !important;
}